@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Cooper-Black";
    src: local(''), url("../public/fonts/COOPBL.ttf")
}

@font-face {
    font-family: "Copperplate";
    src: local(''), url("../public/fonts/Copperplate.ttf")
}

@font-face {
    font-family: "ComicNeue";
    src: local(''), url("../public/fonts/ComicNeue-Regular.ttf")
}

body {
    overflow-x: hidden;
}